page-order {
    agm-map {
        height: 300px;
    }
    .img{
       max-height: 300px;
       width:auto; 
       background-color: gray;
    }
    .img img{
        max-height: 300px;
        width: auto;
    }
}